@import url('./typography.css');
@import url('./scrollbar.css');
@import url('./tarot-spreads.css');

:root {
  --v-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --v-ease-out: cubic-bezier(0, 0, 0.2, 1);
  --v-ease-in: cubic-bezier(0.4, 0, 1, 1);
  --v-scrim-color: theme('colors.zinc.900') !important;
  --v-divider-opacity: 0.05 !important;
}

.bd,
[bd] {
  border: 1px solid magenta;
}

html,
body {
  height: 100%;
  color-scheme: dark;
  overscroll-behavior: none;
}

body {
  /* @apply bg-surface-950; */
  /* @apply bg-surface-900; */
  /* @apply bg-zinc-900; */
  @apply bg-zinc-800/50;
  background-image: radial-gradient(
      ellipse at bottom left,
      rgba(78, 12, 177, 0.02) 0%,
      rgba(82, 245, 151, 0) 50%
    ),
    radial-gradient(
      ellipse at bottom right,
      rgba(88, 104, 248, 0.08) -30%,
      rgba(88, 204, 248, 0) 70%
    );
}

.arcana-glass {
  background: radial-gradient(
    100% 100% at 50% 5%,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0.03) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 1rem;
  backdrop-filter: blur(4px);
  transition: transform 0.2s ease-in-out;
}

.arcana-card {
  @apply bg-[#202132];
  position: relative;
  z-index: 2;
  border-radius: 0.5rem;
  padding: 1rem;
  backdrop-filter: blur(8px);
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.05),
    0 1.5px 1.1px rgba(0, 0, 0, 0.034),
    0 3.6px 2.5px rgba(0, 0, 0, 0.048),
    0 6.8px 4.8px rgba(0, 0, 0, 0.06),
    0 12.1px 8.5px rgba(0, 0, 0, 0.072),
    0 22.6px 15.9px rgba(0, 0, 0, 0.086),
    0 54px 38px rgba(0, 0, 0, 0.12);
}

.bg-arcana-gradient {
  @apply border border-secondary-300/5;
  background: theme('colors.surface.900');
  background-image: radial-gradient(
      ellipse at bottom left,
      rgba(114, 56, 202, 0.1) 0%,
      rgba(82, 245, 151, 0) 50%
    ),
    radial-gradient(
      ellipse at bottom right,
      rgba(88, 104, 248, 0.25) -30%,
      rgba(88, 204, 248, 0) 70%
    );
}
