.celtic-cross {
  grid-template-areas:
    'outcome     conscious     fears-hopes'
    'past        present       future'
    'influences  subconscious  advice';
}

.three-card-cluster {
  grid-template-areas:
    'c-1 c-2 c-3'
    'past present future'
    'c-4 c-5 c-6';
}

.love-spread {
  grid-template-areas:
    'a you b'
    'past relationship future'
    'c partner d';
}

.dream-interpretation {
  grid-template-areas:
    'subconscious c-2 trigger'
    'c-4 c-5 c-6'
    'core-message c-8 call-to-action';
}

.single-card-draw {
  grid-template-areas:
    'c1 c2 c3'
    'c4 insight c5'
    'c6 c7 c8';
}

/* single card draw */
.spread-grid .insight {
  grid-area: insight;
}

.spread-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  justify-items: center;
}

.spread-grid .challenge {
  grid-area: 2 / 2 / 3 / 3;
  transform: rotate(-90deg) translate(-1rem, 0rem);
  z-index: 1;
}

/* celtic cross */
.spread-grid .conscious {
  grid-area: conscious;
}

.spread-grid .subconscious {
  grid-area: subconscious;
}

.spread-grid .outcome {
  grid-area: outcome;
}

.spread-grid .fears-hopes {
  grid-area: fears-hopes;
}

.spread-grid .influences {
  grid-area: influences;
}

.spread-grid .advice {
  grid-area: advice;
}

/* love spread */

.spread-grid .you {
  grid-area: you;
}

.spread-grid .relationship {
  grid-area: relationship;
}

.spread-grid .partner {
  grid-area: partner;
}

/*  three card cluster */
.spread-grid .past {
  grid-area: past;
}

.spread-grid .present {
  grid-area: present;
}

.spread-grid .future {
  grid-area: future;
}

/* dream  interpretation */

.spread-grid .trigger {
  grid-area: trigger;
}

.spread-grid .core-message {
  grid-area: core-message;
}

.spread-grid .call-to-action {
  grid-area: call-to-action;
}
