@font-face {
  font-family: 'Quicksand';
  src: url('./fonts/quicksand.ttf') format('truetype');
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('./fonts/proximanova-regular.ttf') format('truetype');
}

html {
  font-family: 'Quicksand', sans-serif;
  @apply font-medium;
}

.number {
  @apply font-semibold;
  font-family: 'Proxima Nova', sans-serif;
}
