:root {
  --v-scrim-color: #4f5176;
  --v-theme-overlay-multiplier: 1;

  --v-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --v-ease-out: cubic-bezier(0, 0, 0.2, 1);
  --v-ease-in: cubic-bezier(0.4, 0, 1, 1);
}
